{% extends 'estore/base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}


<div class="container border mt-2">
    <div class="row mt-3">
        <div class="col-12">
            <div class="p-2">
            {% if request.session.customer %}
             <h4 class="text-primary">My Cart (<span>{{request.session.cart.keys|length}}</span>)</h4>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table p-0">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Image</th>
      <th scope="col">Product</th>
      <th scope="col">Date</th>
      <th scope="col">Price</th>
      <th scope="col">Qunatity</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>

  {% for order in orders %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td><img src="/media/{{ order.product.image }}" class="card-img-top img-fluid" alt="..." style="width:80px; height: 100px"></td>
      <td>{{ order.name}}</td>
      <td></td>
      <td>{{order.price|currency}}</td>
      <td>{{order.quantity}}</td>
      <td>{{order|price_total:request.session.cart|currency}}</td>
      {% if order.status %}
      <td><span class="text-success">Complete</span></td>
      {% else %}
      <td><span class="text-danger">Pending</span></td>
      {% endif%}
    </tr>
  {% endfor %}
   </tbody>
</table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkoutModalLabel">CheckOut</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form method='POST' action='/check-out'>
       {% csrf_token %}
        <div class="form-group">
          <label for="address">Email address</label>
          <input type="text" class="form-control" id="address" placeholder="Enter Address">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control" id="phone" placeholder="Phone">
        </div>

          <div class="text-right">
            <input type="submit" class="btn btn-primary" value='Save changes'>
         </div>
      
      </form>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}